<div class="container-results">
    <div class="results">
        {{#each artistArray}}
        <div class="artist">
            {{#if this.images}}
                <img src="{{this.images.2.url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/no-album-cover.png" alt="{{this.name}}">
            {{/if}}
                <h2>{{this.name}}</h2>
                <a class="button" href="/albums/{{this.id}}">View albulms</a>
            </div>
        {{/each}}
    </div>
</div>