<div class="container-results">
    <h1>Your Search Results for: {{artist}}</h1>
    <div class="results">
        {{#each artistArray}}
        <div class="artist">
            {{#if this.images}}
                <img src="{{this.images.0.url}}" alt="{{this.name}}">
            {{else}}
                <img src="/images/no-album-cover.png" alt="{{this.name}}">
            {{/if}}
                <div class="artist-details">
                 <h2 class="name">{{this.name}}</h2>
                 <a class="button" href="/albums/{{this.id}}">View albulms</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>